{% extends "layout.html" %} {% block title %} Ingresar Codigo {% endblock
  %} {% block content %}
  <div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto card border">
      <div>
        <div>
          <h2 class="text-center mt-3">Ingresa tu código de<br> verifificacion</h2>
          <p class="mb-0 pt-2 text-center">Ingresa tu código de verificación para</p>
          <p class="mt-0 pb-0  mb-0 text-center">recuperar tu contraseña</p>
        </div>
        <div>

          <form class="card-body" action="{{url_for('insertToken')}}" method="POST" enctype="multipart/form-data" style="width: 25rem;">
            <div class="form-floating mb-3">
                <input name="codigo" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Código</label>
            </div>
            <div class="form-floating mb-3">
                <input name="contrasena" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating mb-3">
                <input name="r_contrasena" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirma contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}