{% extends "layout2.html" %}
{% block title %} Perfil {% endblock %}
{% block content %}
    <div class="mt-3">
        <h3>Informacion general</h3>
    </div>
    <div>
        <form class="col align-self-center" action="{{url_for('perfil',token=token)}}" method="POST" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input name="name" type="text" class="form-control" id="floatingName" placeholder="Nombre" value="{{ig['name']}}">
                <label for="floatingName">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" type="email" disabled class="form-control" id="floatingInput" placeholder="name@example.com" value="{{ig['email']}}">
                <label for="floatingInput">Correo</label>
            </div>
            <div class="form-floating mb-3">
                <input name="birthday" type="date" class="form-control" id="floatingDate" placeholder="" value="{{ig['fecha_nacimiento']}}">
                <label for="floatingDate">Fecha nacimiento</label>
            </div>
            <div class="form-floating mb-3">
                <select name="sex" id="Select" class="form-select">
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
                <label for="Select" class="form-label">Sexo</label>
            </div>
            
            <div class="mt-3">
                <h3>Informacion clinica</h3>
            </div>

            <div class="form-floating mb-3">
                <input name="weight" type="number" min="1" max="200" step=".5" class="form-control" id="floatingPeso" placeholder="1" value="{{ic['peso']}}">
                <label for="floatingPeso">Peso en Kg</label>
            </div>
            <div class="form-floating mb-3">
                <input name="height" type="number" min=".3" max="4" step=".05" class="form-control" id="floatingEstatura" placeholder="1" value="{{ic['estatura']}}">
                <label for="floatingPeso">Estatura en m</label>
            </div>     

            <div class="form-floating mb-3">
                <select name="blood" id="BloodSelect" class="form-select">
                    <!-- Aqui se hace un for con las opciones  -->
                    {% for blood in bloods %}
                        {% if blood == ic['blood'] %}
                            <option selected="selected">{{blood}}</option>
                        {% else %}
                            <option>{{blood}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="BloodSelect" class="form-label">Tipo de Sangre</label>
            </div>
            <div class="form-floating mb-3">
                <select name="skin" id="SkinSelect" class="form-select">
                    <!-- Aqui se hace un for con las opciones  -->
                    {% for skin in skins %}
                        <option>{{skin}}</option>
                    {% endfor %}
                </select>
                <label for="SkinSelect" class="form-label">Tipo de Piel</label>
            </div>

            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
    </div>    
{% endblock %}