{% extends "layout.html" %} {% block title %} Recuperar Contraseña {% endblock
%} {% block content %}
<div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="col-auto card border">
    <div>
      <div>
        <h2 class="text-center mt-3">Recuperar contraseña</h2>
        <p class="mb-0 text-center">Se te enviará un correo para recuperar</p>
        <p class="mt-0 text-center">tu contraseña.</p>
      </div>
      <div>
        <form class="card-body" id="register-form" role="form" autocomplete="off" class="form" method="post" style="width: 23rem;" action="{{url_for('passwordRecovery')}}">
          <div class="form-group">
              <input id="email" name="email" placeholder="email address" class="form-control" type="email"/>
          </div>
            <input name="recover-submit" class="btn btn-lg btn-primary mt-4" value="Enviar correo" type="submit"/>
        </form>
        <div class="pb-3">
          <a class="text-decoration-none ms-3 pb-2" href="{{url_for('login')}}"> ¿Recordaste tu contraseña?</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
