{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block content %}
    <div>
        <h1 class="mt-3">Registrarse</h1>
    </div>
    <div class="mt-4 d-flex text-center justify-content-center">
        <form class="col align-self-center" action="/register" method="POST" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input name="name" type="text" class="form-control" id="floatingName" placeholder="Nombre">
                <label for="floatingName">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Correo</label>
            </div>
            <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating mb-3">
                <input name="birthday" type="date" class="form-control" id="floatingDate" placeholder="dd/mm/aaaa">
                <label for="floatingDate">Fecha Nacimiento</label>
            </div>
            <div class="form-floating mb-3">
                <select name="sex" id="Select" class="form-select">
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
                <label for="Select" class="form-label">Sexo</label>
            </div>
            <div class="form-floating mb-3">
                <input name="weight" type="number" min="1" max="200" step=".5" class="form-control" id="floatingPeso" placeholder="1">
                <label for="floatingPeso">Peso en Kg</label>
            </div>
            <div class="form-floating mb-3">
                <input name="height" type="number" min=".3" max="4" step=".05" class="form-control" id="floatingEstatura" placeholder="1">
                <label for="floatingPeso">Estatura en m</label>
            </div>
            <div class="form-floating mb-3">
                <select name="blood" id="BloodSelect" class="form-select">
                    <!-- Aqui se hace un for con las opciones  -->
                    <option>O+</option>
                    <option>B-</option>
                </select>
                <label for="BloodSelect" class="form-label">Tipo de Sangre</label>
            </div>
            <div class="form-floating mb-3">
                <select name="skin" id="SkinSelect" class="form-select">
                    <!-- Aqui se hace un for con las opciones  -->
                    <option>I</option>
                    <option>II</option>
                </select>
                <label for="SkinSelect" class="form-label">Tipo de Piel</label>
            </div>
            <button type="submit" class="btn btn-primary">Registarse</button>
        </form>
    </div>
{% endblock %}